
a {
    text-decoration: none;
    color: white
}

a:hover, a:active {
    color: lightgrey;
}

.mat-icon {
    padding-right: 1rem;
}

span {
    margin-right: 1rem;
}

.lang_selector {
    width: 100%;
}