<div *ngFor="let room of rooms; let i = index;">
    <mat-card [ngStyle]="{'background-color' : i % 2 === 0 ? '#aee3fc' : '#579af7'}" class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>
                {{ room.name }}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="room.visibility === 'public'">
                This is a {{ room.visibility }} room. Anyone can join the conversation freely.
            </p>
            <p *ngIf="room.visibility === 'private'">
                This is a {{ room.visibility }} room. <br>
                The only ones that can see this conversations are: 
                <span *ngFor="let member of room.members; last as last">
                    <b>{{ getUsername(member) }}</b>
                    <span *ngIf="!last">, </span>
                </span>
            </p>
            <p *ngIf="room.visibility === 'protected'">
                This is a {{ room.visibility }} room. <br>
                You can only join the conversation if you enter the password given by the room owner.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="chosenVisibility === 'protected' ? openDialog(room) : openChatroom(room.id)">
                Join room
            </button>
        </mat-card-actions>
    </mat-card>
</div>