<div class="main_container">
    <div class="div-flex">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
            <h1>{{ 'CREATE_ROOM.BANNER' | translate }}</h1>
            <mat-form-field>
                <mat-label for="name">{{ 'CREATE_ROOM.NAME' | translate }}</mat-label>
                <input matInput type="text" formControlName="name"/>
            </mat-form-field>
            <mat-radio-group [(ngModel)]="chosenType" [ngModelOptions]="{standalone: true}" aria-label="Accessibility">
                <mat-radio-button [value]="roomType.Public" checked="true">{{ 'COMMON.PUBLIC' | translate }}</mat-radio-button>
                <mat-radio-button [value]="roomType.Private">{{ 'COMMON.PRIVATE' | translate }}</mat-radio-button>
                <mat-radio-button [value]="roomType.Protected">{{ 'COMMON.PASSWORD_PROTECTED' | translate }}</mat-radio-button>
            </mat-radio-group>
            <ng-container [ngSwitch]="chosenType">
              <mat-form-field *ngSwitchCase="roomType.Protected">
                <mat-label for="name">{{ 'CREATE_ROOM.PASSWORD' | translate }}</mat-label>
                <input matInput type="password" formControlName="password">
              </mat-form-field>

              <mat-form-field *ngSwitchCase="roomType.Private" class="example-chip-list" appearance="fill">
                <mat-label>{{ 'CREATE_ROOM.MEMBERS' | translate }}</mat-label>
                <ng-container *ngIf="users$ | async as users">
                  <mat-chip-list #chipList aria-label="Members">
                    <mat-chip *ngFor="let user of selectedUsers" (removed)="removeChip(user)">
                      {{user.username}}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    <input
                      [placeholder]="'CREATE_ROOM.ADD_MEMBER' | translate"
                      #memberInput
                      formControlName="member"
                      [matAutocomplete]="auto"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="add($event, users)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, users)">
                      <mat-option *ngFor="let username of filteredUsernames$ | async" [value]="username">
                        {{username}}
                      </mat-option>
                  </mat-autocomplete>
                </ng-container>
              </mat-form-field>
            </ng-container>
            <span>
                <span><button mat-raised-button color="primary" type="submit" class="submit">{{ 'COMMON.SUBMIT' | translate }}</button></span>
            </span>
        </form>
    </div>
</div>