.mat-radio-button {
  margin: 1rem;
}

.example-chip-list {
    width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.submit {
  margin-top: 1.5rem;
}