<div class="main_container">
    <div class="div-flex">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
            <h1>Create a new chatroom</h1>
            <mat-form-field>
                <mat-label for="name">Room name:</mat-label>
                <input matInput type="text" formControlName="name"/>
            </mat-form-field>
            <mat-radio-group [(ngModel)]="chosenGroup" [ngModelOptions]="{standalone: true}" aria-label="Accessibility">
                <mat-radio-button value="public" checked="true">Public</mat-radio-button>
                <mat-radio-button value="private">Private</mat-radio-button>
                <mat-radio-button value="protected">Password protected</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="chosenGroup === 'protected'">
                <mat-label for="name">Room password:</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <mat-form-field *ngIf="chosenGroup === 'private'" class="example-chip-list" appearance="fill">
                <mat-label>Members:</mat-label>
                <mat-chip-list #chipList aria-label="Members">
                  <mat-chip *ngFor="let user of selectedMembers" (removed)="removeChip(user)">
                    {{user.username}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="Add a new member..."
                    #memberInput
                    formControlName="member"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let username of filteredUsernames | async" [value]="username">
                      {{username}}
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            <span>
                <span><button mat-raised-button color="primary" type="submit" class="submit">Submit</button></span>
            </span>
        </form>
    </div>
</div>