<span class="loading-indicator" *ngIf="loading">
    <mat-spinner color="accent"></mat-spinner>
</span>

<div class="main_container">
    <form [formGroup]="loginForm" (ngSubmit)="login('default')">
        <div>
            <h1>Log into your account</h1>
            <mat-form-field>
                <mat-label for="email">E-mail address:</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.invalid">
                    Invalid e-mail format!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Password:</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon-button class="hide_button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-icon-button>
                <mat-error *ngIf="loginForm.get('password')?.invalid">
                    Password is too short!
                </mat-error>
            </mat-form-field>
        </div>
        <span>
            <span><button mat-raised-button color="primary" type="submit">Submit</button></span>
            <span><button  mat-raised-button color="primary" type="button" routerLink="/signup">You don't have an account yet?</button></span>
        </span>
        <span>
            <span><button mat-raised-button color="primary" (click)="login('google')">Login with Google</button></span>
        </span>
        <span>
            <span><button mat-raised-button color="primary" (click)="login('facebook')">Login with Facebook</button></span>
        </span>
    </form>
</div>
