<span class="loading-indicator" *ngIf="loading">
    <mat-spinner color="accent"></mat-spinner>
</span>

<div class="main_component">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <h1>Log into your account</h1>
            <mat-form-field>
                <mat-label for="email">E-mail address:</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.invalid">
                   Invalid e-mail format!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Password:</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.invalid">
                    Password is too short!
                </mat-error>
            </mat-form-field>
        </div>
        <span>
            <span><button mat-raised-button color="primary" type="submit">Submit</button></span>
            <span><button  mat-raised-button color="primary" routerLink="/signup">You don't have an account yet?</button></span>
        </span>
    </form>
</div>