<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="hamburger">
                <button mat-icon-button (click)="onToggleSideNav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="app-title">
                <a [routerLink]="['/']">Chat App</a>
            </div>
            <div class="navbar">
                <ul class="navigation-items">
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Register</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/main">Conversations</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/create-room">Create room</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>