<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="hamburger">
                <button mat-icon-button (click)="onToggleSideNav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="app-title">
                <a [routerLink]="['/']">Chat App</a>
            </div>
            <div class="navbar">
                <ul class="navigation-items">
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">{{ 'MENU.LOGOUT' | translate }}</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">{{ 'MENU.LOGIN' | translate }}</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/signup">{{ 'MENU.REGISTER' | translate }}</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/main">{{ 'MENU.CONVERSATIONS' | translate }}</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/create-room">{{ 'MENU.CREATE_ROOM' | translate }}</a></li>
                    <li>
                        <select #langSelect (change)="translate.use(langSelect.value)">
                            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                          </select>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>