$usertab : rgb(181, 225, 245);
$roomtab : rgb(242, 250, 253);

.main_container {
    padding: 0;
    grid-template-columns: 1fr 3fr;
    place-content: start center;
}

.user_list_container {
    background-color: $usertab;
    height: 100vh;
}

.room_list_container {
    background-color: $roomtab;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 3rem 0;
    text-align: center;
}

.toggle{
    display: grid;
    place-items: center;
}

@media screen and (max-width: 1000px)
{
    .main_container {
        grid-template-columns: 1fr;
    }

}