<div class="main_container">
    <div class="user_list_container">
        <app-user-list></app-user-list>
    </div>
    <div class="room_list_container">
        <h1>Chatrooms</h1>
        <div class="toggle">
            <mat-button-toggle-group name="visibility" aria-label="Visibility" value="public" (change)="onToggleChange($event.source.value)">
                <mat-button-toggle value="public">Public</mat-button-toggle>
                <mat-button-toggle value="private">Private</mat-button-toggle>
                <mat-button-toggle value="protected">Password protected</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <app-room-list [chosenVisibility]="this.chosenVisibility"></app-room-list>
    </div>
</div>

