<div class="main_container">
    <ng-container *ngIf="{userList: users$ | async} as users">
        <div class="user_list_container">
            <app-user-list 
            [users]="users.userList"
            (openConversation)="openConversation($event, convoType.Personal)">
            </app-user-list>
        </div>
        <div class="room_list_container">
            <h1>{{ 'MAIN.CHATROOMS' | translate }}</h1>
            <div class="toggle">
                <mat-button-toggle-group name="visibility" aria-label="Visibility" 
                    [value]="chosenType$ | async" 
                    (change)="onToggleChange($event.source.value)">
                    <mat-button-toggle [value]="roomType.Public">{{ 'COMMON.PUBLIC' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="roomType.Private">{{ 'COMMON.PRIVATE' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="roomType.Protected">{{ 'COMMON.PASSWORD_PROTECTED' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            
            <app-room-list 
            [chosenType]="(chosenType$ | async)!" 
            [users]="users.userList!"
            (openChatroom)="openConversation($event, convoType.Room)">
            </app-room-list>
        </div>
    </ng-container>
</div>

