<h1>{{ 'MAIN.ALL_USERS' | translate }}</h1>
<div *ngFor="let user of users$ | async ; first as first" class="user" (click)="openConversation(user.id)">
    <span class="username">
        <div>
            <b>{{user.username}}</b>
            <span class="you" *ngIf="user.id === (loggedInUser$ | async)">({{ 'MAIN.YOU' | translate }})</span> 
        </div>
    </span>
    <span class="activity-indicator">
        <mat-icon matSuffix *ngIf="!isOnline(user)" style="color: rgb(114, 119, 134)">power_off</mat-icon>
        <mat-icon matSuffix *ngIf="isOnline(user)" style="color: green">circle</mat-icon>
    </span> 
    <mat-divider [inset]="false" *ngIf="!first"></mat-divider>
</div>
