<h1>All users</h1>
<div *ngFor="let user of users" class="user" (click)="openConversation(user.id)">
    <span class="username">
        <div>
            {{user.username}} 
            <span class="you" *ngIf="user.id === loggedInUser">(You)</span> 
        </div>
    </span>
    <span class="activity-indicator">
        <mat-icon matSuffix *ngIf="!isOnline(user)" style="color: orange">power_off</mat-icon>
        <mat-icon matSuffix *ngIf="isOnline(user)" style="color: green">circle</mat-icon>
    </span> 
</div>
