h1 {
    margin: 3rem 0;
    text-align: center;
}

.user {
    height: 4rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.user:hover {
    background-color: red;
    cursor: pointer;
}

.user .username{
    margin-left: 2rem;
    justify-self: start;
}

.you {
    margin: 0 0.3rem;
}

.activity-indicator{
    justify-self: flex-end;
}