h1 {
    margin: 3rem 0;
    text-align: center;
}

.user {
    height: 4rem;
    border: 1px solid black;
    /* display: flex;
    align-items: center; */
}

.user:hover {
    background-color: red;
    cursor: pointer;
}

.user .username{
    margin: 0 2rem;
    float: left;
    height: 100%;
    display: grid;
    place-content: center;
}

.you {
    margin: 0 0.3rem;
}

.activity-indicator{
    float: right;
    height: 100%;
    display: grid;
    place-content: center;
    margin: 0 2rem;
}